{% extends "index_layout.html" %}

{% block body%}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <canvas id="myChart" width="200" height="100"></canvas>
          <input class="sli" id="ex4" type="text"/>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <script>

        $("#ex4").slider({
          ticks: [0, 100, 200, 300, 400],
          ticks_labels: ["Now", "Hours", "Days", "Weeks", "Months"],
          value: 0,
          ticks_snap_bounds: 100



        });
        var data = {{ base_chart_data }}
        function updateGraph(){
            if (this.readyState === 4 && this.status === 200){
                var nd = this.responseText;
                console.log(nd);
                //data.TEMPERATURE.push(nd.TEMPERATURE);
                //window.myLine.update();
                console.log("done");
            }
        };
        function getGraphUpdate(){
            /*var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = updateGraph();
            var lastData = data.TEMPERATURE;

            xhttp.open("GET", "chart?last="+lastData[lastData.length-1].x, true);
            xhttp.send();*/
            var lastData = data.TEMPERATURE;
            $.ajax({
                url: "chart?last="+lastData[lastData.length-1].x,
                success: function(result){
                  var nd = result;
                  //console.log(nd);
                  for (i in nd.TEMPERATURE){
                    data.TEMPERATURE.push(nd.TEMPERATURE[i]);
                  }
                  console.log(data);
                  window.myLine.update();
                  console.log("done");
                }
            });
        }
        var timeFormat = 'DD/MM/YYYY';

        var config = {
            type:    'line',
            data:    {
                datasets: [
                    {
                        label: "Temperature",
                        data: data.TEMPERATURE,
                        borderColor: 'red',
                        fill: false
                    },
                    {
                        label: "Pressure",
                        data: data.PRESSURE,
                        borderColor: 'green',
                        fill: false
                    },
                    {
                        label: "Humidity",
                        data: data.HUMIDITY,
                        borderColor: 'blue',
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                title:      {
                    display: true,
                    text:    "Weather station"
                },
                scales:     {
                    xAxes: [{
                        type:       "time",
                        scaleLabel: {
                            display:     true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display:     true,
                            labelString: 'value'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx       = document.getElementById("myChart").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };


        getGraphUpdate();



    </script>
{% endblock %}
