{% extends "index_layout.html" %}

{% block body%}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"><canvas id="myChart" width="200" height="100"></canvas></div>
        <div class="col-lg-3"></div>
    </div>
    <script>
        // Our labels along the x-axis
        var years = [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050];
        // For drawing the lines
        var africa = [86,114,106,106,107,111,133,221,783,2478];
        var asia = [282,350,411,502,635,809,947,1402,3700,5267];
        var data = {{ base_chart_data }};

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: years,
                datasets: [
                    data.TEMPERATURE
                ]
            }
        });

    </script>
{% endblock %}