{% extends "index_layout.html" %}

{% block body%}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"><canvas id="myChart" width="200" height="100"></canvas></div>
        <div class="col-lg-3"></div>
    </div>
    <script>
        var data = {{ base_chart_data }}
        function updateGraph(){
            if (this.readyState === 4 && this.status === 200){
                var nd = this.responseText;
                console.log(nd);
                //data.TEMPERATURE.push(nd.TEMPERATURE);
                //window.myLine.update();
                console.log("done");
            }
        };
        function getGraphUpdate(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = updateGraph();
            var lastData = data.TEMPERATURE;

            xhttp.open("GET", "chart?last="+lastData[lastData.length-1].x, true);
            xhttp.send();
        }
        var timeFormat = 'DD/MM/YYYY';

        var config = {
            type:    'line',
            data:    {
                datasets: [
                    {
                        label: "Temperature",
                        data: data.TEMPERATURE,
                        borderColor: 'red',
                        fill: false
                    },
                    {
                        label: "Pressure",
                        data: data.PRESSURE,
                        borderColor: 'green',
                        fill: false
                    },
                    {
                        label: "Humidity",
                        data: data.HUMIDITY,
                        borderColor: 'blue',
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                title:      {
                    display: true,
                    text:    "Chart.js Time Scale"
                },
                scales:     {
                    xAxes: [{
                        type:       "time",
                        scaleLabel: {
                            display:     true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display:     true,
                            labelString: 'value'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx       = document.getElementById("myChart").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };


        getGraphUpdate();



    </script>
{% endblock %}