<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-slider.min.js"></script>
</head>
<body>
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <canvas id="myChart" width="200" height="100"></canvas>
        <input data-slider-value="0" id="ex4" type="text"/>
      </div>
      <div class="col-lg-2"></div>
  </div>
  <script>

      $("#ex4").slider({
        ticks: [0, 1, 2, 3, 4],
        ticks_labels: ["Now", "Hours", "Days", "Weeks", "Months"],
        value: 0,
        step:1

      });

      $("#ex4").on("change", function(val){
        // TODO : smooth transition
        console.log(window.myLine.scales['y0'])
          //window.myLine.scales['y0'].hidden = true
          $.ajax({
              url: "update?format="+val.value.newValue,
              success: function(result){
                hiddenTest = true;

                dataParams.names.forEach(iname => {
                    data[iname].length = 0;
                    result[iname].forEach(t => {
                      data[iname].push(t);
                    })

                })
                window.myLine.update();
              }
          });
      });
	{% block body %}{% endblock %}
  var dataLength = dataParams.names.length;
  var dataInd = Array.from(Array(dataLength).keys());
  var dateFormat = ["second"]
  console.log(dataParams.names);

  var timeFormat = true;

  var hiddenTest = false;

  function getGraphUpdate(){
      if (timeFormat){
        var lastData = data.TEMPERATURE;
        $.ajax({
            url: "chart?last="+lastData[lastData.length-1].x,
            success: function(result){
                var nd = result;
                dataParams.names.forEach( iname => {
                    nd[iname].forEach( jelem => {
                      data[iname].push(jelem)
                    })
                });
                window.myLine.update();
            }
        });
      }
  }
  var timeFormat = 'DD/MM/YYYY';

  var config = {
      type:    'line',
      data:    {
          datasets: dataInd.map(function(i) {
            return {
              label: dataParams.labels[i],
              data: data[dataParams.names[i]],
              borderColor: dataParams.colors[i],
              yAxisID: "y"+i,
              fill: false
            };
          })
      },
      options: {
          responsive: true,
          title:      {
              display: true,
              text:    "Weather station"
          },
          scales:     {
              xAxes: [{
                  id: 'x0',
                  type: "time",
                  scaleLabel: {
                      display:     true,
                      labelString: 'Date'
                  },
                  time: {
                    unitStepSize: 10,
                    displayFormats: {
                      'second' : 'HH:mm:ss',
                      'minute': 'HH:mm',
                      'hour': 'DD MMM HH:mm',
                       'day': 'DD MMM'
                    }
                  }
              }],
              yAxes: dataInd.map(function(i) {
                return {
                  id: "y"+i,
                  position: dataParams.positions[i],
                  ticks: {
                    suggestedMin: dataParams.mins[i],
                    suggestedMax: dataParams.maxs[i],
                    fontColor: dataParams.colors[i]
                  },
                  scaleLabel: {
                    display: true,
                    labelString: dataParams.units[i]
                  },
                  beforeUpdate: function(){
                    console.log("gotten: "+hiddenTest)
                    if(hiddenTest){
                      display = false;
                      console.log(this.config.options.scales.yAxes)
                      this.config.options.scales.yAxes[0].display = false
                    }
                  }

                };
              })
          },
      }
  };

  window.onload = function () {
      var ctx       = document.getElementById("myChart").getContext("2d");
      window.myLine = new Chart(ctx, config);
  };

  setInterval(getGraphUpdate,300000);

</script>

</body>
</html>
